<h1># {{ account.id }}</h1>
<p>Date created: {{ account.created }}</p>
<p>Balance: {{ account.balance }}</p>
<h2>Outcomes</h2>
<table class="table">
    <thead>
        <tr>
            <th>to account</th>
            <th>datetime</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        {% for x in outcomes %}
            <tr>
                <td>{{ x.to_account }}</td>
                <td>{{ x.date_time }}</td>
                <td>{{ x.amount }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if outcomes.has_previous %}
<a href="{% url 'account' account.id %}?outcomes_page={{ outcomes.previous_page_number }}&incomes_page={{ incomes.number }}">Назад</a>
{% endif %}

{% if outcomes.has_next %}
<a href="{% url 'account' account.id %}?outcomes_page={{ outcomes.next_page_number }}&incomes_page={{ incomes.number }}">Вперед</a>
{% endif %}

<h2>Incomes</h2>
<table class="table">
    <thead>
        <tr>
            <th>from account</th>
            <th>datetime</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        {% for x in incomes %}
            <tr>
                <td>{{ x.from_account }}</td>
                <td>{{ x.date_time }}</td>
                <td>{{ x.amount }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if incomes.has_previous %}
<a href="{% url 'account' account.id %}?incomes_page={{ incomes.previous_page_number }}&outcomes_page={{ outcomes.number }}">Назад</a>
{% endif %}

{% if incomes.has_next %}
<a href="{% url 'account' account.id %}?incomes_page={{ incomes.next_page_number }}&outcomes_page={{ outcomes.number }}">Вперед</a>
{% endif %}