<table class="table">
    <thead>
        <tr>
            <th>from_account</th>
            <th>to_account</th>
            <th>amount</th>
            <th>cancel</th>
        </tr>
    </thead>
    <tbody>
        {% for x in all_transactions %}
            <tr>
                <td>{{ x.from_account }}</td>
                <td>{{ x.to_account }}</td>
                <td>{{ x.amount }}</td>
                <td><form action="." method="POST">
                    {% csrf_token %}
                    {{ filter_form }}
                    <input type="checkbox"> <input type="submit" value="submit">
                </form> {% if message %} <p>{{ message }}</p> {% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>